
:root {
  --jumbotron-padding-y: 3rem;
}


.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.navbar .bi {
  font-size: 1.5rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-item{
  font-family: Arial;
}



/*Index*/

.navbarHeader a {
    text-decoration: none; /* ลบเส้นใต้ */
    transition: color 0.3s ease; /* ทำให้เปลี่ยนสีลื่นขึ้น */
  }

.navbarHeader a:hover {
    color: #fd7e14 !important; /* สีส้มเมื่อ hover */
  }

.product-image {
  position: relative;
}

.product-image img {
  display: block;
  width: 100%;
  height: auto;
}

.product-price {
  font-size: 1.2rem;
}



.badge-button {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
}

/* signin */

